.benefit {
  margin-top: 70px;
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__left {
    width: 50%;
    h2 {
      font-size: 40px;
      line-height: 48.76px;
      margin-bottom: 18px;
    }
  }
  &__decription {
    font-size: 18px;
    line-height: 29.26px;
  }
  &__list {
    margin-bottom: 13px;  
    .item {
      padding: 8px 0px;
      display: flex;
      align-items: center;
      p {
        margin-left: 10px;
        font-size: 14px;
        line-height: 20.48px;
      }
    }
  }
  &__rating {
    display: flex;
    align-items: center;
    padding: 31px 0px 32px 0px;
    &-item {
      display: flex;
      margin-left: 10px;
      flex-wrap: wrap;
    }
    p {
      margin-right: 14px;
      font-size: 18px;
      line-height: 26.33px;
    }
    span {
      font-weight: 700;
    }
  }
  &__right {
    width: 50%;
    h2 {
      display: none;
    }
    video{
      object-fit: cover;
      width: 100%;
      border-radius: 4px;
    } 
  }
}

@media (max-width: 767px) {
  .benefit {
    margin-top: 39px;
    &__wrap {
      flex-direction: column-reverse;
    }
    &__left {
      margin-top: 30px;
      width: 100%;
      h2 {
        display: none;
      }
    }
    &__decription {
      font-size: 14px;
      line-height: 20.48px;
      margin-bottom: 26px;
    }
    &__list {
      margin-bottom: 30px;
    }
    &__rating {
      p {
        font-size: 14px;
        line-height: 20.48px;
      }
    }
    &__right {
      width: 100%;
      h2 {
        display: block;
        text-align: center;
        margin-bottom: 13px;
      }
    }
  }
}
